﻿@using DataAccess.Model
@model User

@{
    ViewBag.Title = "DetailUser";
}

<h2>Detail uživatele</h2>

@using (Html.BeginForm("SaveUser", "AdminUser", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="form-group">
        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.Role.Id)
        <div class="col-sm-10">
            <label>Jméno</label>
        </div>
        <div class="col-sm-10">
            @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Name)
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-10">
            <label>Příjmení</label>
        </div>
        <div class="col-sm-10">
            @Html.TextBoxFor(x => x.Surname, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Surname)
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-10">
            <label>Username</label>
        </div>
        <div class="col-sm-10">
            @Html.TextBoxFor(x => x.Login, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Login)
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-10">
            <label>Heslo</label>
        </div>
        <div class="col-sm-10">
            @Html.TextBoxFor(x => x.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Password)
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-10">
            <label>Role</label>
        </div>
        <div class="col-sm-10">
            @Html.DropDownList("idRole", new SelectList(ViewBag.Roles, "Id", "Description"), new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-10">
            <label>O mně</label>
        </div>
        <div class="col-sm-10">
            @Html.TextAreaFor(x => x.About, new { @class = "form-control formatedText", @rows = 20 })
            @Html.ValidationMessageFor(x => x.About)
        </div>
    </div>
        <div class="form-group">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Uložit</button>
            </div>
        </div>


        }
