﻿@using DataAccess.Model
@{
    ViewBag.Title = "Index";
}

<h2>Uživatelé</h2>
<div class="table-responsive">
    <a href="@Url.Action("Detail", "AdminUser")" class="btn btn-default pull-right">Nový uživatel</a>
    <table class="table table-striped table-bordered table-responsive">
        <tr>
            <th>Jméno</th>
            <th>Příjmení</th>
            <th>Login</th>
            <th>Role</th>
            <th>Akce</th>
        </tr>
        @foreach (User u in ViewBag.Users)
            {
            <tr>
                <td>@u.Name</td>
                <td>@u.Surname</td>
                <td>@u.Login</td>
                <td>@u.Role.Description</td>
                <td>
                    <a href="@Url.Action("Detail", "AdminUser", new { id = @u.Id})">Editovat</a>
                    <a href="@Url.Action("Delete", "Post", new { id = @u.Id })">Smazat</a>
                </td>
            </tr>
        }
    </table>
</div>