﻿@using DataAccess.Model
@model User
@{
    ViewBag.Title = "Index";
}

<h2>Profil uživatele</h2>

@using (Html.BeginForm("SaveUser", "BlogUser", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    <div class="form-group">
        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.ProfileImage)
        @Html.HiddenFor(x => x.Login)
        @Html.HiddenFor(x => x.Password)
        @Html.HiddenFor(x => x.Role.Id)
        <div class="col-sm-10">
            <label>Jméno</label>
        </div>
        <div class="col-sm-10">
            @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Name)
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-10">
            <label>Příjmení</label>
        </div>
        <div class="col-sm-10">
            @Html.TextBoxFor(x => x.Surname, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Surname)
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-10">
            <label>Profilový obrázek</label>
        </div>
        <div class="col-sm-10">
            <input type="file" name="picture" />
            @if (!String.IsNullOrEmpty(Model.ProfileImage))
                {
                <img src="@Url.Content("~/Upload/UserImages/" + Model.ProfileImage)" />
            }
        </div>
    </div>
        <div class="form-group">
            <div class="col-sm-10">
                <label>Něco o mně</label>
            </div>
            <div class="col-sm-10">
                @Html.TextAreaFor(x => x.About, new { @class = "form-control formatedText", @rows = 20 })
                @Html.ValidationMessageFor(x => x.About)
            </div>
        </div>
            <div class="form-group">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Uložit</button>
                </div>
            </div>
}

