﻿@using DataAccess.Model
@model Statistics
@{
    ViewBag.Title = "Index";
}

<h2>Statistiky</h2>

<table class="table table-striped">
    <tbody>
        <tr>
            <td>Počet článků: </td>
            <td>@Model.ArticleCount</td>
        </tr>
        <tr>
            <td>Počet komentářů: </td>
            <td>@Model.CommentCount</td>
        </tr>
        <tr>
            <td>Počet obrázků: </td>
            <td>@Model.ImageCount</td>
        </tr>
        <tr>
            <td>Počet tagů: </td>
            <td>@Model.TagCount</td>
        </tr>
        <tr>
            <td>Počet kategorií: </td>
            <td>@Model.CategoryCount</td>
        </tr>
        <tr>
            <td>Počet uživatelů: </td>
            <td>@Model.UserCount</td>
        </tr>
    </tbody>
</table>


