﻿@using DataAccess.Model
@model Comment

@{
    ViewBag.Title = "Detail";
}

<h2>Detail Komentáře</h2>

@using (Html.BeginForm("Save", "Comment", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="form-group">
        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.Article.Id)
        @Html.HiddenFor(x => x.Date)
        @Html.HiddenFor(x => x.User.Id)
        <div class="col-sm-10">
            <label>Obsah</label>
        </div>
        <div class="col-sm-10">
            @Html.TextAreaFor(x => x.Content, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Content)
        </div>
    </div>
            <div class="form-group">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Uložit</button>
                </div>
            </div>


}





