﻿@using DataAccess.Model
@model List<Comment>
@{
    ViewBag.Title = "Index";
}
<h2>Komentáře</h2>
<div class="table-responsive">
    <table class="table table-striped table-bordered table-responsive">
        <tr>
            <th>Autor</th>
            <th>Datum</th>
            <th>Text</th>
            <th>Akce</th>
        </tr>
        @foreach (Comment c in Model)
        {
            <tr>
                <td>@c.User.Name @c.User.Surname</td>
                <td>@c.Date</td>
                <td>@c.Content</td>
                <td>
                    <a href="@Url.Action("Detail", "Comment", new { id = @c.Id})">Editovat</a>
                    <a href="@Url.Action("DeleteComment", "Comment", new { id = @c.Id })">Smazat</a>
                </td>
            </tr>
        }
    </table>
</div>

