﻿@using DataAccess.Model
@model Category

@{
    ViewBag.Title = "DetailCategory";
}

    <h2>Detail kategorie</h2>

    @using (Html.BeginForm("SaveCategory", "Category", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <div class="form-group">
            @Html.HiddenFor(x => x.Id)
            <div class="col-sm-10">
                <label>Jméno</label>
            </div>
                <div class="col-sm-10">
                    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Name)
                </div>
            </div>
        <div class="form-group">
            <div class="col-sm-10">
                <label>Popis</label>
            </div>
                <div class="col-sm-10">
                    @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Description)
                </div>
            </div>
        <div class="form-group">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Uložit</button>
            </div>
        </div>


    }
