﻿@using DataAccess.Model
@{
    ViewBag.Title = "Index";
}

<h2>Kategorie</h2>
<div class="table-responsive">
    <a href="@Url.Action("DetailCategory", "Category")" class="btn btn-default pull-right">Nová Kategorie</a>
    <table class="table table-striped table-bordered table-responsive">
        <tr>
            <th>Jméno</th>
            <th>Popis</th>
            <th>Akce</th>
        </tr>
        @foreach (Category c in ViewBag.Categories)
            {
            <tr>
                <td>@c.Name</td>
                <td>@c.Description</td>
                <td>
                    <a href="@Url.Action("DetailCategory", "Category", new { id = @c.Id})">Editovat</a>
                    <a href="@Url.Action("DeleteCategory", "Category", new { id = @c.Id })">Smazat</a>
                </td>
            </tr>
        }
    </table>
</div>

