﻿@using DataAccess.Model
@model List<Message>
@{
    ViewBag.Title = "Index";
}
<h2>Zprávy</h2>
<div class="panel-body">
    @using (Ajax.BeginForm("Index", "Message", new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "dynamicContent" }, new { @class = "form-inline" }))
    {
        <div class="form-group">
            <label>E-mail</label>
            <input type="text" size="150" placeholder="Email uživatele" name="phrase" class="form-control" />
        </div>
        <div class="form-group">
            <label>Pouze nepřečtené</label>
           @Html.CheckBox("neprectene", new {@class = "form-control"});
        </div>
        <input type="submit" class="btn btn-default" />
    }
</div>

<div class="table-responsive">
    <table class="table table-striped table-bordered table-responsive">
        <tr>
            <th>Datum</th>
            <th>Email</th>
            <th>Obsah</th>
            <th>Přečteno</th>
            <th>Akce</th>
        </tr>
        @foreach (Message m in Model)
        {
            <tr>
                <td>@m.CreationDate</td>
                <td>@m.Email</td>
                <td>@(m.Content.Substring(0,20) + "...")</td>
                <td><div class="checkbox disabled">
                 <label><input type="checkbox" checked="@m.Completed" disabled></label>
                </div>
                </td>
               <td>
                   @if (m.Completed)
                   {
                   <a href="@Url.Action("Deactivate", new { idMessage = @m.Id, akt = false })">Nepřečteno</a>
                   }
                   else
                   {
                   <a href="@Url.Action("Deactivate", new { idMessage = @m.Id, akt = true})">Přečteno</a>
                   }
                   <a href="@Url.Action("Delete", new { idMessage = @m.Id})">Smazat</a>
                   <button type="button" class="btn btn-primary btn-sm" onclick="naplnData('@m.CreationDate', '@m.Email', '@m.Content');" data-toggle="modal" data-target="#myModal">
                       Zobrazit náhled
                   </button>
               </td>
            </tr>
        }
    </table>
</div>
<div class="clearfix"></div>
<ul class="pagination">
    @for (int i = 1; i <= ViewBag.Pages; i++)
    {
        <li>
            @Ajax.ActionLink(@i.ToString(), "Index", new { page = i, phrase = ViewBag.Phrase }, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "dynamicContent" })
        </li>
    }

</ul>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Náhled zprávy</h4>
            </div>
            <div class="modal-body">
               <table>
                   <tr><td class="date_modal"></td></tr>
                   <tr><td class="email_modal"></td></tr>
                   <tr><td class="content_modal"></td></tr>
               </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
$('#myModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var model = '@Model[0].Email';
 // Extract info from data-* attributes
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
    $('td.nadpis_modal').text("Abcdefgh");
})

    function naplnData(date, email,content){
        var email = email;
        $('td.date_modal').text("Datum vytvoření: " + date);
        $('td.email_modal').text("Odesílatel: "+ email);
        $('td.content_modal').text(content);
    }
</script>

