﻿@using DataAccess.Model
@model Post
@{
    ViewBag.Title = "CreatePost";
}

    <h2>Detail příspěvku</h2>

    @using (Html.BeginForm("Save", "Post", FormMethod.Post, new { @class = "form-horizontal" , enctype = "multipart/form-data"}))
    {
        <div class="form-group">
            @Html.HiddenFor(x => x.Id)
            @Html.HiddenFor(x => x.Author)
            @Html.HiddenFor(x => x.PreviewImageName)
            @Html.HiddenFor(x => x.ContentImageName)
            <div class="col-sm-10">
                <label>Nadpis</label>
            </div>
        <div class="col-sm-10">
            @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Title)
        </div>
        </div>
        <div class="form-group">
            <div class="col-sm-10">
            <label>Kategorie</label>
            </div>
        <div class="col-sm-10">
            @Html.DropDownList("categoryId", new SelectList(ViewBag.Categories, "Id", "Name"), new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Title)      
        </div>
        </div>
        <div class="form-group">
            <div class="col-sm-10">
                <label>Obrázek</label>
            </div>
                <div class="col-sm-10">
                    <input type="file" name="picture" />
                    @if (!String.IsNullOrEmpty(Model.PreviewImageName))
                    {
                        <img src="@Url.Content("~/Upload/Small/" + Model.PreviewImageName)" />
                    }
                </div>
            </div>
        <div class="form-group">
            <div class="col-sm-10">
                <label>Anotace</label>
            </div>
                <div class="col-sm-10">
                    @Html.TextAreaFor(x => x.Annotation, new { @class = "form-control", @rows = 5 })
                    @Html.ValidationMessageFor(x => x.Annotation)
                </div>
            </div>
        <div class="form-group">
            <div class="col-sm-10">
                <label>Obsah</label>
            </div>
                <div class="col-sm-10">
                    @Html.TextAreaFor(x => x.Content, new { @class = "form-control formatedText", @rows = 20 })
                    @Html.ValidationMessageFor(x => x.Content)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10">
                    <label>Tagy</label>
                </div>
                <div class="col-sm-10">
                   <input type="text" name="tag" class="input-tag" id="tag_input" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10">
                    <label>Galerie</label>
                </div>
                <div class="col-sm-10">
                    <input type="file" name="files" multiple />
                </div>
            </div>
        <div class="form-group">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Uložit</button>
            </div>
        </div>
    }

<script>
$("#tag_input").tagit({

    // Options
    fieldName: "skills",
    availableTags: ["c++", "java", "php", "javascript", "ruby", "python", "c"],
    autocomplete: {
       source: function( request, response ) {
        $.ajax( {
          url: "@Url.Action("SearchTags", "Post")",
          dataType: "json",
          data: {
              query: request.term
          },
          success: function( data ) {
              response(data);
          }
        } );
      },
      minLength: 3,
    } ,

    showAutocompleteOnFocus: false,
    removeConfirmation: false,
    caseSensitive: true,
    allowDuplicates: false,
    allowSpaces: false,
    readOnly: false,
    tagLimit: null,
    singleField: false,
    singleFieldDelimiter: ',',
    singleFieldNode: null,
    tabIndex: null,
    placeholderText: null,

    // Events
    beforeTagAdded: function(event, ui) {
        console.log(ui.tag);
    },
    afterTagAdded: function(event, ui) {
        console.log(ui.tag);
    },
    beforeTagRemoved: function(event, ui) {
        console.log(ui.tag);
    },
    onTagExists: function(event, ui) {
        console.log(ui.tag);
    },
    onTagClicked: function(event, ui) {
        console.log(ui.tag);
    },
    onTagLimitExceeded: function(event, ui) {
        console.log(ui.tag);
    }

});
</script>