﻿@using DataAccess.Model
@model List<Post>
@{
    ViewBag.Title = "Index";
}
<h2>Příspěvky</h2>
<div class="panel-body">
    @using (Ajax.BeginForm("Index", "Post", new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "dynamicContent" }, new { @class = "form-inline" }))
    {
        <div class="form-group">
            <input type="text" size="150" placeholder="Vyhledat článek" name="phrase" class="form-control" />
        </div>
            <input type="submit" value="search" class="btn btn-default" />
     }
</div>

<div class="table-responsive">
    <a href="@Url.Action("Detail", "Post")" class="btn btn-default pull-right">Nový příspěvek</a>
    <table class="table table-striped table-bordered table-responsive">
        <tr>
            <th>Titulek</th>
            <th>Autor</th>
            <th>Datum</th>
            <th>Kategorie</th>
            <th>Tagy</th>
            <th>Akce</th>
        </tr>
        @foreach (Post p in Model)
        {
            <tr>
                <td>@p.Title</td>
                <td>@p.Author.Name @p.Author.Surname</td>
                <td>@p.CreationDate</td>
                <td>@p.Category.Name</td>
                <td>
                    @foreach (Tag t in p.Tags)
                {
                    @t.Name <br/>
                }
                </td>

                <td>
                    <a href="@Url.Action("Detail", "Post", new { id = @p.Id})">Editovat</a>
                    <a href="@Url.Action("DeletePost", "Post", new { id = @p.Id })">Smazat</a>
                    <a href="@Url.Action("Index", "Comment", new { id = @p.Id })">Spravovat komentáře</a>
                </td>
            </tr>
        }
    </table>
</div>
<div class="clearfix"></div>
<ul class="pagination">
    @for (int i = 1; i <= ViewBag.Pages; i++)
    {
    <li>
        @Ajax.ActionLink(@i.ToString(), "Index", new { page = i, phrase = ViewBag.Phrase}, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "dynamicContent" })
    </li>
    }

</ul>


