﻿@using DataAccess.Model
@model Post
@{
    ViewBag.Title = "CreatePost";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="blog-box1">
    <h2>Detail příspěvku</h2>

    @using (Html.BeginForm("Save", "Admin", FormMethod.Post, new { @class = "form-horizontal" , enctype = "multipart/form-data"}))
    {
        <div class="form-group">
            @Html.HiddenFor(x => x.Id)
            @Html.HiddenFor(x => x.PreviewImageName)
            @Html.HiddenFor(x => x.ContentImageName)
            <div class="col-sm-10">
                <label>Nadpis</label>
            </div>
        <div class="col-sm-10">
            @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Title)
        </div>
        </div>
        <div class="form-group">
            <div class="col-sm-10">
            <label>Kategorie</label>
            </div>
        <div class="col-sm-10">
            @if (!String.IsNullOrEmpty(Model.PreviewImageName))
                {
                @Html.DropDownList("categoryId", new SelectList(ViewBag.Categories, "Id", "Name", Model.Category.Id), new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Title)
            }
            else
            {
                @Html.DropDownList("categoryId", new SelectList(ViewBag.Categories, "Id", "Name"), new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Title)
            }
        </div>
        </div>
        <div class="form-group">
            <div class="col-sm-10">
                <label>Obrázek</label>
            </div>
                <div class="col-sm-10">
                    <input type="file" name="picture" />
                    @if (!String.IsNullOrEmpty(Model.PreviewImageName))
                    {
                        <img src="@Url.Content("~/Upload/Small/" + Model.PreviewImageName)" />
                    }
                </div>
            </div>
        <div class="form-group">
            <div class="col-sm-10">
                <label>Anotace</label>
            </div>
                <div class="col-sm-10">
                    @Html.TextAreaFor(x => x.Annotation, new { @class = "form-control", @rows = 5 })
                    @Html.ValidationMessageFor(x => x.Annotation)
                </div>
            </div>
        <div class="form-group">
            <div class="col-sm-10">
                <label>Obsah</label>
            </div>
                <div class="col-sm-10">
                    @Html.TextAreaFor(x => x.Content, new { @class = "form-control formatedText", @rows = 20 })
                    @Html.ValidationMessageFor(x => x.Content)
                </div>
            </div>
        <div class="form-group">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Uložit</button>
            </div>
        </div>
    }
</div>

