﻿@using DataAccess.Model
@model List<Post>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h2>Příspěvky</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <tr>
            <th>Titulek</th>
            <th>Autor</th>
            <th>Datum</th>
            <th>Kategorie</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        @foreach (Post p in Model)
        {
            <tr>
                <td>@p.Title</td>
                <td>@p.Author.Name @p.Author.Surname</td>
                <td>@p.CreationDate</td>
                <td>@p.Category.Name</td>
                <td><a href="@Url.Action("Detail", "Admin")">Nový příspěvek</a></td>
                <td><a href="@Url.Action("Detail", "Admin", new { id = @p.Id })">Editovat příspěvek</a></td>
                <td><a href="@Url.Action("DeletePost", "Admin", new { id = @p.Id })">Smazat příspěvek</a></td>
            </tr>
        }
    </table>
    </div>

    </br>
    <h2>Kategorie</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
                <th>Jméno</th>
                <th>Popis</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            @foreach (Category c in ViewBag.Categories)
            {
                <tr>
                    <td>@c.Name</td>

                <td>@c.Description</td>
                <td><a href="@Url.Action("DetailCategory", "Admin")">Nová Kategorie</a></td>
                <td><a href="@Url.Action("DetailCategory", "Admin", new { id = @c.Id })">Editovat kategorii</a></td>
                <td><a href="@Url.Action("DeleteCategory", "Admin", new { id = @c.Id })">Smazat kategorii</a></td>
            </tr>
            }
        </table>
    </div>

