﻿@using DataAccess.Model
@model List<Post>
@{
    ViewBag.Title = "Index";

}
<div class="wrap">
    <div class="about">
        @foreach (Post a in Model)
        {
            <div class="bloder-content">

                <div class="bloger-grid">

                    <div class="blog-img">
                        <img src="@Url.Content("~/Upload/Small/" + @a.PreviewImageName)" title="titleImage" />
                    </div>
                    <div class="bloger-content">
                        <h5><a href="@Url.Action("index", "Article")">@a.Title</a></h5>
                        <p>@a.Annotation</p>
                        <ul>
                            <li>Author: @Ajax.ActionLink(@a.Author.Name + " " + @a.Author.Surname, "getAjaxContentUserDetail", new { UserId = @a.Author.Id }, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "content" })</li>
                            <li>Category: @a.Category.Name</li>
                            <li>Date: @a.CreationDate</li>
                            <li>
                                Tags:
                                @foreach (Tag g in @a.Tags)
                                {
                                    @(g.Name+" ,")

                                }
                            </li>

                            <li><a href="@Url.Action("index", "Article", new { id = @a.Id })"><span>Readmore</span></a></li>
                        </ul>
                    </div>
                    <div class="clear"> </div>
                </div>

                <div class="clear"> </div>
            </div>

        }
    </div>
</div>
<div class="clear"> </div>
<!-- End-content-gallery-->
<!-- DC Pagination:C9 Start -->
<div class="wrap">
    <!-- DC Pagination:A3 Start -->
    <ul class="dc_pagination dc_paginationA dc_paginationA03">
        @for (int i = 1; i <= ViewBag.Pages; i++)
        {
           
              <li>@Ajax.ActionLink(@i.ToString() ,"GetAjaxUsersPosts", new { page = i }, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "content" }) </li>

        }

    </ul>
    <!-- DC Pagination:A3 End -->

    <div class="clear"> </div>

    <!-- DC Pagination:C9 End -->
</div>
<div class="clear"> </div>
