﻿@using DataAccess.Model
@model User
@{
    ViewBag.Title = "getAjaxContentUserDetail";
}

<div class="wrap">
    <div class="about">

        <div class="blog-box1">
            <h3 style="text-align: center">Detail uživatele</h3>
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-responsive">
                    <tr>
                        <th>Jméno: </th>
                        <td>@Model.Name</td>
                    </tr>
                    <tr>
                        <td>Přijmení: </td>
                        <td>@Model.Surname</td>
                    </tr>
                    <tr>
                        <td>Role: </td>
                        <td>@Model.Role.Description</td>
                    </tr>
                    <tr>
                        @if (Model.ProfileImage == null)
            {
                            <td>Profilový obrázek: </td>
                            <td><img src="@Url.Content("~/Upload/UserImages/default.jpg")" title="profileImage" /></td>
                        }
                        else
                        {
                            <td>Profilový obrázek:</td>
                            <td><img src="@Url.Content("~/Upload/UserImages/" + Model.ProfileImage)" title="profileImage" /></td>
                        }
                    </tr>
                    <tr>
                        <td>O mně: </td>
                        <td>@Model.About</td>
                    </tr>
                </table>
            </div>
        </div>
</div>
    </div>
