﻿@using DataAccess.Model
@model User
@{
    ViewBag.Title = "Index";
    Layout = null;
}

@if (Model.Role.Identificator == "admin")
{
    <li><a href="@Url.Action("Index", "Post")">Správa článků</a></li>
    <li><a href="@Url.Action("Index", "Category")">Správa kategorií</a></li>
    <li><a href="@Url.Action("Index", "AdminUser")">Správa uživatelů</a></li>
    <li><a href="@Url.Action("Index", "Message")">Správa zpráv</a></li>
}
else if (Model.Role.Identificator == "reader")
{
    <li><a href="@Url.Action("Index", "Post", new { @id = Model.Id })">Správa článků</a></li>
}
<li><a href="@Url.Action("Index", "BlogUser")">Editace profilu</a></li>
<li><a href="@Url.Action("LogOut", "Login")">Odhlásit se</a></li>
