﻿@using DataAccess.Model
@model Message
@{
    ViewBag.Title = "Index";
}
<div class="wrap" id="wrap">
    <div class="about">
    </div>
    <div class="blog-box1">
        <div class="blog-box-content">
            <h2>Kontaktovat administrátora</h2>
            
                        @using (Html.BeginForm("Save", "Message", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
            {
                            <div class="form-group">
                                <div class="col-sm-10">
                                    <label>E-mail</label>
                                </div>
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.Email)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-10">
                                    <label>Content</label>
                                </div>
                                <div class="col-sm-10">
                                    @Html.TextAreaFor(x => x.Content, new { @class = "form-control", @rows = 5 })
                                    @Html.ValidationMessageFor(x => x.Content)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-10">
                                    <button type="submit" class="btn btn-primary btn-lg btn-block">Uložit</button>
                                </div>
                            </div>
                        }
                    </div>

                </div>
            </div>
