﻿<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="@Url.Content("~/Styles/blog.css")" rel="stylesheet" type="text/css" media="all" />
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" media="all" />
    <title>Problog Website Template | Blog :: W3layouts</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Carrois+Gothic+SC' rel='stylesheet' type='text/css'>
    <script src="@Url.Content("~/scripts/jquery-3.1.0.min.js")"></script>
    <script src="@Url.Content("~/scripts/jquery.unobtrusive-ajax.min.js")"></script>
    <script src="@Url.Content("~/scripts/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/scripts/jquery.validate.unobtrusive.min.js")"></script>
    <script src="@Url.Content("~/scripts/MicrosoftAjax.js")"></script>
    <script src="@Url.Content("~/scripts/MicrosoftMvcAjax.js")"></script>
</head>
<body>
    <!-- Start-wrap -->
    <!-- Start-Header-->

    <div class="header">
        <div class="wrap">
            <!-- Start-logo-->
            <div class="logo">
                <a href="@Url.Action("Index", "Home")"><img src="@Url.Content("~/Images/logo.png")" title="logo" /></a>
            </div>

            <!-- End-Logo-->
            <!-- Start-Header-nav-->

            <div class="clear"> </div>

            <!-- End-Header-nav-->
        </div>
    </div>
    <div class="header-nav1">
        <div class="wrap">
            <ul>
                <li class="current"><a href="@Url.Action("Index", "Home")">Home</a></li>
                <li>@Ajax.ActionLink("Uživateleské články", "GetAjaxUsersPosts", new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "content" })</li>
                <li><a href="@Url.Action("Index", "Admin")">Admin</a></li>
                <li><a href="@Url.Action("Index", "Login", new { area = "Admin" })">Login</a></li>
                <li>@Ajax.ActionLink("Kontaktovat", "Index", "Message", new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "content" })</li>
            </ul>

            <div class="search-bar">
            @using (Html.BeginForm("getAjaxContentByTitle", "Home", FormMethod.Post))
            {
                <ul>
                    <li><input type="text" name="title"></li>
                    <li><input type="submit" value="" /></li>
                </ul>
            }

            </div>
        </div>

        <!-- End-Header-->
        <div class="clear"> </div>
        <!-- content-gallery-->
    </div>
    <div id="content">
        @RenderBody()
    </div>
    <div class="footer">
        <div class="wrap">
            <h3>SAY HELLO</h3>
            <p>
                Lorem ipsum dolor sit amet, consect etur adipiscing elit. Vestibulum ut tortor urnati dunt

                dolor. Nunc vulputate ultrices con sect etur donec semper lacinia ultri dolore cie

                lorem ipsum commete.
            </p>

            <div class="footerlinks">
                <div class="share">
                    <li><a href="#" target="_blank" title="Facebook"><span class="social fbook"> </span></a></li>
                    <li><a href="#" target="_blank" title="twitter"><span class="social twitter"> </span></a></li>
                    <li><a href="#" target="_blank" title="tumblr"><span class="social tumblr"> </span></a></li><br />
                    <li><a href="#" target="_blank" title="delicious"><span class="social delicious"> </span></a></li>
                    <li><a href="#" target="_blank" title="delicious"><span class="social delicious"> </span></a></li>
                    <li><a href="#" target="_blank" title="dribbble"><span class="social dribbble"> </span></a></li>
                    <li><a href="#" target="_blank" title="evernote"><span class="social evernote"> </span></a></li>
                    <li><a href="#" target="_blank" title="stumbleupon"><span class="social stumbleupon"> </span></a></li>
                </div>

            </div>
        </div>
    </div>
    <div class="footer1">
        <p class="link"><span>© All rights Reserved | Designed by&nbsp; <a href="http://w3layouts.com/"> W3Layouts</a>	</span></p>
    </div>
    <!-- End-wrap -->


</body>
</html>
