﻿<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="@Url.Content("~/Styles/blog.css")" rel="stylesheet" type="text/css" media="all" />
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/bootstrap-rating.css" rel="stylesheet" type="text/css" media="all" />
    <title>Problog Website Template | Single :: W3layouts</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Carrois+Gothic+SC' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
    <link rel="stylesheet" href="~/Content/blueimp-gallery2/css/blueimp-gallery.min.css">
    <script type="text/javascript" src="~/scripts/jquery-1.10.2.min.js" ></script>
    <script type="text/javascript" src="@Url.Content("scripts/bootstrap.min.js")"></script>
    <script type="text/javascript" src="~/scripts/bootstrap-rating.min.js"></script>
</head>
<body>
    <!-- Start-wrap -->
    <!-- Start-Header-->
    <!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
    <div id="blueimp-gallery" class="blueimp-gallery">
        <!-- The container for the modal slides -->
        <div class="slides"></div>
        <!-- Controls for the borderless lightbox -->
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
        <!-- The modal dialog, which will be used to wrap the lightbox content -->
        <div class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" aria-hidden="true">&times;</button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body next"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left prev">
                            <i class="glyphicon glyphicon-chevron-left"></i>
                            Previous
                        </button>
                        <button type="button" class="btn btn-primary next">
                            Next
                            <i class="glyphicon glyphicon-chevron-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="header">
        <div class="wrap">
            <!-- Start-logo-->
            <div class="logo">
                <a href="@Url.Action("Index", "Home")"><img src="@Url.Content("~/Images/logo.png")" title="logo" /></a>
            </div>

            <!-- End-Logo-->
            <!-- Start-Header-nav-->

            <div class="clear"> </div>

            <!-- End-Header-nav-->
        </div>
    </div>
    <div class="header-nav1">
        <div class="wrap">
            <ul>
                <li class="current"><a href="@Url.Action("Index", "Home")">Home</a></li>
                <li>@Ajax.ActionLink("Uživatelelské články", "GetAjaxUsersPosts", "Home", new { detail = true }, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "content" })</li>
                <li><a href="@Url.Action("Index", "Admin")">Admin</a></li>
                <li><a href="@Url.Action("Index", "Login", new { area = "Admin" })">Login</a></li>
                <li>@Ajax.ActionLink("Kontaktovat", "Index", "Message", new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "content" })</li>
            </ul>

            <div class="search-bar">
                @using (Html.BeginForm("getAjaxContentByTitle", "Home", FormMethod.Post))
            {
                    <ul>
                        <li><input type="text" name="title"></li>
                        <li><input type="submit" value="" /></li>
                    </ul>
                }
            </div>
        </div>

        <!-- End-Header-->
        <div class="clear"> </div>
        <!-- content-gallery-->
    </div>
   
                  @RenderBody()
           
    <div class="clear"> </div>
    <!-- End-content-gallery-->
    <!-- DC Pagination:C9 Start -->
    <div class="wrap">

        <div class="clear"> </div>

        <!-- DC Pagination:C9 End -->
    </div>
    <div class="clear"> </div>
    <div class="footer">
        <div class="wrap">
            <h3>SAY HELLO</h3>
            <p>
                Lorem ipsum dolor sit amet, consect etur adipiscing elit. Vestibulum ut tortor urnati dunt

                dolor. Nunc vulputate ultrices con sect etur donec semper lacinia ultri dolore cie

                lorem ipsum commete.
            </p>

            <div class="footerlinks">
                <div class="share">
                    <li><a href="#" target="_blank" title="Facebook"><span class="social fbook"> </span></a></li>
                    <li><a href="#" target="_blank" title="twitter"><span class="social twitter"> </span></a></li>
                    <li><a href="#" target="_blank" title="tumblr"><span class="social tumblr"> </span></a></li><br />
                    <li><a href="#" target="_blank" title="delicious"><span class="social delicious"> </span></a></li>
                    <li><a href="#" target="_blank" title="delicious"><span class="social delicious"> </span></a></li>
                    <li><a href="#" target="_blank" title="dribbble"><span class="social dribbble"> </span></a></li>
                    <li><a href="#" target="_blank" title="evernote"><span class="social evernote"> </span></a></li>
                    <li><a href="#" target="_blank" title="stumbleupon"><span class="social stumbleupon"> </span></a></li>
                </div>

            </div>
        </div>
    </div>
    <div class="footer1">
        <p class="link"><span>© All rights Reserved | Designed by&nbsp; <a href="http://w3layouts.com/"> W3Layouts</a>	</span></p>
    </div>
    <!-- End-wrap -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
    <script src="~/Content/blueimp-gallery2/js/blueimp-gallery.min.js"></script>
</body>
</html>
