﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap-tag/bootstrap-tag.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/tagit/jquery.tagit.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/tagit/tagit.ui-zendesk.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="~/Scripts/modernizr-2.6.2.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-tag/js/bootstrap-tag.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src=@Url.Content("~/scripts/MicrosoftAjax.js")></script>
    <script type="text/javascript" src=@Url.Content("~/scripts/MicrosoftMvcAjax.js")></script>
    <script type="text/javascript" src=@Url.Content("~/scripts/jquery.unobtrusive-ajax.min.js")></script>
    <script type="text/javascript" src="~/scripts/tagit/tag-it.js"></script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Blog", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Hlavní strana", "Index", "Home", new { area = "Admin" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                   @{ Html.RenderAction("Index", "Menu");}
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content" id="dynamicContent">
        @RenderBody()
    </div>
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - Pogiho web</p>
    </footer>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/scripts/tinymce/tinymce.min.js")"></script>
    <script>tinymce.init({ selector: '.formatedText' });</script>
</body>
</html>